*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: sans-serif;
    background: #f5f5f5;
    padding-top: 46px;
}

.header {
    padding-top: 6px;
    padding-bottom: 6px;
    background: #0050b3;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.m-menu {
    display: none;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    margin-left: 12px;
    padding: 0;
}

.m-menu .line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.search-input {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 30px 5px 12px;
    width: 336px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-panel {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.navigation-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}

.navigation-link::before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-right: 12px;
}

.navigation-link:last-child::after {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-left: 12px;
}

.user {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
    cursor: pointer;
}

.user-name {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.icons-panel {
    display: flex;
    align-items: center;
}

.icon-link {
    display: flex;
    align-items: center;
    margin-left: 17px;
    position: relative;
}

.notification {
    position: absolute;
    top: -8px;
    right: -10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5222d;
    border: 1px solid #ffffff;
    border-radius: 16px;
    color: #ffffff;
    font-size: 12px;
}

.header-icon {
    fill: #002766;
}

.header-icon:hover {
    fill: white;
}

.icon-link:last-child::before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003a8c;
    margin-right: 12px;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.menu-sidebar {
    max-width: 192px;
    margin-top: 18px;
    margin-right: 12px;
    flex-grow: 1;
}

.menu-sidebar .user {
    padding-left: 10px;
}

.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
}

.menu-sidebar .user-name {
    color: #262626;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}

.nav-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.nav-group .post-header-button {
    display: none;
    margin-left: auto;
}

.nav-link {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    color: #595959;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.nav-link:not(.nav-dropdown):hover {
    background: #ffffff;
    color: #262626;
    font-weight: bold;
}

.nav-link:not(.nav-dropdown):hover .post-header-button {
    display: initial;
}

.enable {
    background: #ffffff;
    color: #262626;
    font-weight: bold;
}

.nav-text {
    margin-left: 8px;
}

.nav-title {
    padding-left: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    margin-bottom: 4px;
    margin-top: 0;
}

.nav-dropdown {
    margin-left: 4px;
}

.nav-dropdown .nav-text {
    color: #1890ff;
    text-decoration: none;
    margin-left: 12px;
}

.main-feed {
    max-width: 588px;
    margin-top: 18px;
    flex-grow: 1;
}

.create-post {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}

.create-post-header {
    padding: 9px 16px;
    background: #f5f5f5;
}

.create-post-title {
    color: #595959;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

.create-post-body {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
}

.create-post-input {
    max-width: 500px;
    width: 100%;
    padding-top: 8px;
    outline: none;
}

.create-post-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 16px 16px 16px;
}

.create-post-footer::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;
}

.tag {
    background: #f5f5f5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.tag-icon {
    margin-right: 8px;
}

.post {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.post-header-button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.post-header .user-avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.post-info {
    display: flex;
    flex-wrap: wrap;
}

.post-author {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050b3;
    width: 100%;
    text-decoration: none;
}

.post-time {
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
}

.post-time::after {
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #bfbfbf;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
    vertical-align: middle;
}

.post-info-time {
    display: flex;
    align-items: center;
}

.post-text {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 16px;
}

.post-text a {
    color: #096dd9;
    text-decoration: none;
}

.post-image {
    display: block;
    margin: auto;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    max-width: 100%;
}

.likes {
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
}

.likes-counter {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 4px;
    cursor: pointer;
}

.likes-icon {
    cursor: pointer;
}

.post-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-button {
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-button-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 8px;
}

.post-footer::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;
}

.right-sidebar {
    max-width: 384px;
    flex-grow: 1;
    margin-left: 24px;
    margin-top: 18px;
}

.stories {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px;
    padding-left: 24px;
}

.stories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.stories-title {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.stories-buttons {
    display: flex;
    align-items: center;
}

.story-button-link {
    font-size: 14px;
    line-height: 22px;
    color: #0050b3;
    text-decoration: none;
}

.story-button-link:first-child::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #bfbfbf;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
}

.stories-icon {
    vertical-align: sub;
}

.story-item-add,
.story-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 16px;
}

.story-image-add,
.story-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1890ff;
    margin-right: 12px;
}

.story-image {
    border: 3px solid #1890ff;
}

.story-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050b3;
    display: block;
}

.story-text {
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
    width: 100%;
    word-wrap: break-word;
}

.story-dropdown-text {
    color: #0050B3 !important;
}

.concuria {
    background-image: url(../img/concuria.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.figma {
    background-image: url(../img/figma.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ant-design {
    background-image: url(../img/ant-design.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.birthday-notification {
    margin-top: 16px;
    padding: 16px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.birthday {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.birthday-icon {
    margin-right: 8px;
}

.birthday-text {
    font-size: 14px;
    color: #595959;
    margin-top: 2px;
}

.birthday-name {
    font-weight: 600;
    color: #0050b3;
}

.fanpage {
    margin-top: 16px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.fanpage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 16px;
    border-bottom: 1px solid #d9d9d9;
}

.fanpage-header-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.fanpage-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 16px;
}

.fanpage-body-image {
    background-image: url(../img/concuria.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 48px;
    height: 48px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    margin-right: 12px;
}

.fanpage-body-text,
.fanpage-body-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fanpage-body-title {
    margin-bottom: 4px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050b3;
}

.fanpage-body-notification {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
    margin-bottom: 2px;
}

.fanpage-body-message {
    margin-left: 4px;
    vertical-align: middle;
}

.fanpage-body-counter {
    width: 17px;
    height: 22px;
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    opacity: 0.85;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #595959;
    margin-left: 5px;
}

.fanpage-footer {
    margin: 16px;
    margin-bottom: 0;
    padding-bottom: 16px;
}

input[type="radio"] {
    display: none;
}

.fanpage-footer-form {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.fanpage-footer-label {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.fanpage-footer-label:nth-child(1) {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.fanpage-footer-label:nth-child(2) {
    background: #ffffff;
    border: 1px solid #d9d9d9;
}

.fanpage-footer-label:nth-child(3) {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.radio-text {
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.fanpage-footer-result {
    text-align: center;
}

.result-title {
    display: block;
    font-size: 24px;
    line-height: 32px;
    color: #262626;
    margin-bottom: 4px;
}

.result-subtitle {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
}

@media (max-width: 1250px) {
    .container {
        justify-content: flex-start;
        width: 95%;
    }

    .right-sidebar {
        display: none;
    }

    .header-block {
        width: 95%;
    }

    .menu-sidebar {
        max-width: unset;
        width: 30%;
    }

    .main-feed {
        max-width: unset;
        width: 70%;
    }
}

@media (max-width: 960px) {
    .header .user {
        display: none;
    }

    .navigation-panel {
        display: none;
    }
}

@media (max-width: 840px) {
    .menu-sidebar {
        position: fixed;
        left: 0;
        top: 25px;
        width: 100%;
        height: 100%;
        max-width: 250px;
        background-color: #f1f1f1;
        padding-top: 12px;
        padding-left: 2%;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .menu-sidebar.active {
        transform: translateX(0%);
    }

    .m-menu {
        display: flex;
    }
}

@media (max-width: 760px) {
    .search {
        display: none;
    }
}

